<?xml version="1.0"?>
<!--
/**
 * @category   Sendwithus
 * @package    Sendwithus_Mail
 * @author     Anatoly Koval
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <Sendwithus_Mail>
            <version>1.0.2</version>
        </Sendwithus_Mail>
    </modules>

    <default>
        <sendwithus_mail>
            <credentials>
                <API_HOST>api.sendwithus.com</API_HOST>
                <API_PORT>443</API_PORT>
                <API_PROTO>https</API_PROTO>
                <API_VERSION>1_0</API_VERSION>
            </credentials>
        </sendwithus_mail>
    </default>
    <admin>
        <routers>
            <mail>
                <use>admin</use>
                <args>
                    <module>Sendwithus_Mail</module>
                    <frontName>sendwithusmail</frontName>
                </args>
            </mail>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Sendwithus_Mail>
                    <files>
                        <default>Sendwithus_Mail.csv</default>
                    </files>
                </Sendwithus_Mail>
            </modules>
        </translate>
        <layout>
            <updates>
                <mail>
                    <file>mail.xml</file>
                </mail>
            </updates>
        </layout>
        <events>
            <admin_system_config_changed_section_sendwithus_mail>
                <observers>
                    <sendwithus_mail>
                        <type>singleton</type>
                        <class>mail/observer</class>
                        <method>trackSystemConfigSaveAfter</method>
                    </sendwithus_mail>
                </observers>
            </admin_system_config_changed_section_sendwithus_mail>
        </events>
    </adminhtml>
    <global>
        <models>
            <mail>
                <class>Sendwithus_Mail_Model</class>
                <resourceModel>mail_mysql4</resourceModel>
            </mail>
            <mail_mysql4>
                <class>Sendwithus_Mail_Model_Mysql4</class>
                <entities>
                    <credentials>
                        <table>email_credentials</table>
                    </credentials>
                    <emails>
                        <table>email_list</table>
                    </emails>
                    <available>
                        <table>email_available</table>
                    </available>
                </entities>
            </mail_mysql4>
            <core>
                <rewrite>
                    <email_template>Sendwithus_Mail_Model_Template</email_template>
                </rewrite>
            </core>
        </models>
        <resources>
            <mail_setup>
                <setup>
                    <module>Sendwithus_Mail</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mail_setup>
            <mail_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mail_write>
            <mail_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mail_read>
        </resources>
        <blocks>
            <mail>
                <class>Sendwithus_Mail_Block</class>
            </mail>
        </blocks>
        <helpers>
            <mail>
                <class>Sendwithus_Mail_Helper</class>
            </mail>
        </helpers>
    </global>
</config>
